<!DOCTYPE html>
<html>
<head>
	<title>Results:  <%= data.q  %> </title>
	<% include ../partials/head %>
	<link rel="stylesheet" type="text/css" href="result.css">
</head>
<body>
	<% include ../partials/header %>
	<h1>Results: <%= data.q  %> </h1>
	<div class="container">
		<div class="row">
		<%  for(var i = 0;i <= data.hits.length -1 ;i++){ %>
	    <div class="col-sm-6 col-md-4  ">
	    	<div class="card" style="width: 18rem;">
			  <img class="card-img-top img-fluid thumbnail" src="<%= data.hits[i].recipe.image %>" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title"><%= data.hits[i].recipe.label %></h5>
			    <h6 class="card-subtitle mb-2 text-muted">No. of serving: <%= data.hits[i].recipe.yield %></h6>
				<p class="card-text"><%= data.hits[i].recipe.dietLabels[0] %></p>		
			    <a href="#" class="btn btn-primary">More info</a>
			  </div>
			</div>
	    </div>
	  	<% } %>
	  </div>

	</div>

	<% include ../partials/footer %>
</body>
</html>